/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter Variable", "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00000023;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}


.stripe-card-element {
  width: 100%;
  height: 100%;
  /* background-color: rgb(204, 204, 204);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  box-sizing: border-box; */
}